
.intro{
    -fx-background-color: transparent;
    -fx-border-color: red;
    -fx-background-color: rgba(0,100,0, 0.3);
    -fx-border-radius: 20px;
}

.content{
        -fx-background-color: transparent;
        -fx-border-color: red;
        -fx-background-color: rgba(0,150,152, 0.3);
        -fx-border-radius: 20px;
}

.textField{
    -fx-background-color: transparent;
/*    -fx-background-color: #001641;*/
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent blue transparent;

    -fx-text-fill: #ffffff;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
}

.send-button{
    -fx-text-fill: black;
    -fx-background-color: #33cb00;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-font-size: 12px;
}

.cancel-button{
    -fx-text-fill: #ffffff;
    -fx-background-color: #b90000;
    -fx-background-radius: 5px;
}